*{
	moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box:
	box-sizing: border-box;
}

h2{ 
color: red;
}

header h2 {
	color: green;
}

aside p {
	font-weight: bold
}
header h2 em {
	font-weight: bold;
	color: pink;
	font-size: 20px;
}